<template name="nav">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!-- <li><a href="{{pathFor 'groupList'}}">Список групп</a></li> -->
                <!-- <li><a href="{{pathFor 'studentList'}}">Список студентов</a></li> -->
                <!-- <li><a href="{{pathFor 'subjectList'}}">Список предметов</a></li> -->
                
                <!-- <li><a href="{{pathFor 'questionList'}}">Список вопросов</a></li> -->
                <!-- <li><a href="{{pathFor 'questionCreate'}}">Создать вопрос</a></li> -->
                {{#if currentUser}}
                    <li><a href="{{myProfileLink}}">Мій профіль</a></li>
                    {{#if isInRole 'lector'}}
                        <li><a href="{{pathFor 'subjectCreate'}}">Створити предмет</a></li>
                        <li><a href="{{pathFor 'testCreate'}}">Створити тест</a></li>
                    {{else}}
                        <li><a href="{{pathFor 'testList'}}">Список тестов</a></li>
                    {{/if}}
                {{/if}}

                {{#if currentUser}}
                    <li><a href="#" class="logout">Logout</a></li>
                {{/if}}
                {{#unless currentUser}}
                    <li><a href="{{pathFor 'register'}}">Реєстрація</a></li>
                    <li><a href="{{pathFor 'login'}}">Увійти</a></li>
                {{/unless}}
            </ul>
        </div><!-- /.navbar-collapse -->
        <!-- <ul class="nav pull-right">
          <li>{{>loginButtons}}</li>
        </ul> -->
    </div><!-- /.container-fluid -->
</nav>
</template>