<template name="nav">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">
                <img src="/logo.png" alt="">
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {{#if currentUser}}
                    <li><a href="{{myProfileLink}}">Мій профіль</a></li>
                    {{#if isInRole 'lector'}}
                        <li><a href="{{pathFor 'groupCreate'}}">Створити групу</a></li>
                        <li><a href="{{pathFor 'subjectCreate'}}">Створити предмет</a></li>
                        <li><a href="{{pathFor 'testCreate'}}">Створити тест</a></li>
                    {{else}}
                        <li><a href="{{pathFor 'testList'}}">Тести</a></li>
                    {{/if}}
                {{/if}}
                {{#if currentUser}}
                    <li><a href="#" class="logout">Вийти</a></li>
                {{/if}}
                {{#unless currentUser}}
                    <li><a href="{{pathFor 'register'}}">Реєстрація</a></li>
                    <li><a href="{{pathFor 'login'}}">Увійти</a></li>
                {{/unless}}
            </ul>
        </div>
    </nav>
    {{> sAlert}}
</template>