<template name="login">
    <div class="container">
        <h2>Увійти</h2>
        <form class="login">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" placeholder="E-mail" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" class="form-control" placeholder="Password" name="password" required>
            </div>
            <p><input type="submit" class="btn btn-default" value="Увійти"></p>
        </form>
    </div>
</template>