<template name="questionCreate">
    <div class="container">
        <form class="question-create">
            <div class="input-field col s12">
                <textarea id="question-name" class="materialize-textarea" required></textarea>
                <label for="question-name">Додайте Текст Запитання</label>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <h4>Варианты ответов</h4>
                </div>
                <div class="col-md-2">
                    <h4>Правильный ответ</h4>
                </div>
            </div>
            <div class="answers">
                <div class="row form-group">
                    <div class="col-md-10">
                        <textarea name="Answer-1" class="form-control answer-1" rows="1" required></textarea>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" class="right-answer" name="right-answer" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-10">
                        <textarea name="Answer-2" class="form-control answer-2" rows="1" required></textarea>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" class="right-answer" name="right-answer" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-10">
                        <textarea name="Answer-3" class="form-control answer-3" rows="1" required></textarea>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" class="right-answer" name="right-answer" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-10">
                        <textarea name="Answer-4" class="form-control answer-4" rows="1" required></textarea>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" class="right-answer" name="right-answer" required>
                    </div>
                </div>
            </div>
            <button type="submit" class="waves-effect waves-light btn">Зберегти і Додати Ще Одне Запитання</button>
            <input type="button" class="waves-effect waves-light btn end-creation" value="Закінчити Створення Тесту">
        </form>
    </div>
</template>