<template name="questionCreate">
    <div class="container">
        <h2>Question Create</h2>    
        <form class="question-create">
            <div class="form-group">
                <h4>Вопрос</h4>
                <textarea name="Question" class="form-control question-name" rows="3" required></textarea>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <h4>Варианты ответов</h4>
                </div>
                <div class="col-md-2">
                    <h4>Правильный ответ</h4>
                </div>
            </div>
            <div class="answers">
                <div class="row form-group">
                    <div class="col-md-10">
                        <textarea name="Answer-1" class="form-control answer-1" rows="1" required></textarea>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" class="right-answer" name="right-answer" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-10">
                        <textarea name="Answer-2" class="form-control answer-2" rows="1" required></textarea>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" class="right-answer" name="right-answer" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-10">
                        <textarea name="Answer-3" class="form-control answer-3" rows="1" required></textarea>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" class="right-answer" name="right-answer" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-10">
                        <textarea name="Answer-4" class="form-control answer-4" rows="1" required></textarea>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" class="right-answer" name="right-answer" required>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-default">Сохранить и Создать еще один вопрос</button>
            <input type="button" class="btn btn-default end-creation" value="Завершить создание теста">
        </form>
    </div>
</template>