<template name="register">
    <div class="container">
        <h2>Реєстрація нового користувача</h2>
        <form class="registration-form">
            <div class="form-group">
                <label for="surname">Прізвище</label>
                <input type="text" class="form-control" id="surname" placeholder="Сидоров" required>
            </div>
            <div class="form-group">
                <label for="name">Ім'я</label>
                <input type="text" class="form-control" id="name" placeholder="Іван" required>
            </div>
            <div class="form-group">
                <label for="patronymic">По-батькові</label>
                <input type="text" class="form-control" id="patronymic" placeholder="Іванович" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="E-mail" required>
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" class="form-control" id="password" placeholder="Password" required>
            </div>
            <div class="form-roles">
                <h3>Оберіть тип аккаунта:</h3>
                <label class="radio-inline">
                    <input type="radio" name="typeAccount" id="typeLector" value="lector"> Викладач
                </label>
                <label class="radio-inline">
                    <input type="radio" name="typeAccount" id="typeStudent" value="student"> Студент
                </label>
            </div>
            <input type="submit" class="btn btn-default" value="Submit">
        </form>
    </div>
</template>

