<template name="register">
    <div class="container">
        <h2>Register</h2>
        <form class="register">
            <p>Email: <input type="email" name="email"></p>
            <p>Password: <input type="password" name="password"></p>

            <!-- добавить функционал для ролей -->
<!--             <div class="form-group">
              <label for="selectRoles">Select type of account:</label>
              <select class="form-control" id="selectRoles">
                <option>Студент</option>
                <option>Викладач</option>
              </select>
            </div> -->

            <p><input type="submit" value="Register"></p>
        </form>
    </div>
</template>