<template name="profile">
    <div class="container">
        <h4>Мій профіль</h4>
        <div class="profile-card grey lighten-2 z-depth-1">
            <a class="btn-floating btn-large waves-effect waves-light blue edit-profile"><i class="material-icons">create</i></a>
            <div class="row">
                <div class="col s6">
                    <div class="input-field collection-item">
                        <input value="{{#if isInRole 'student'}}Студент{{/if}}{{#if isInRole 'lector'}}Викладач{{/if}}" id="role" type="text" class="validate readonly" readonly>
                        <label class="active" for="role">Тип акаунта:</label>
                    </div>
                    <form class="form-profile">
                        <div class="input-field collection-item">
                            <input value="{{name}}" id="name" type="text" class="validate readonly" readonly>
                           <label class="active" for="name">Ім'я:</label>
                        </div>
                        <div class="input-field collection-item">
                            <input value="{{surname}}" id="surname" type="text" class="validate readonly" readonly>
                            <label class="active" for="surname">Прізвище:</label>
                        </div>
                        <div class="input-field collection-item">
                            <input value="{{patronymic}}" id="patronymic" type="text" class="validate readonly" readonly>
                            <label class="active" for="patronymic">По-батькові:</label>
                        </div>
                        <div class="input-field collection-item">
                            <div class="input-field">
                                <select>
                                  <option value="" disabled selected>Оберіть групу</option>
                                  {{#each groups}}
                                    <option value="{{this._id}}">{{this.name}}</option>
                                  {{/each}}
                                </select>
                                <label>Група</label>
                            </div>
                        </div>
                        <button class="btn waves-effect waves-light save-profile" type="submit" name="save">Зберегти </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- добавить выбор группы для студента -->
        {{#if isInRole 'lector'}}
        <div class="personal-tests">
            <h5>Створені Тести</h5>
            <div>
                {{> reactiveTable settings=testsSettings}}
            </div>
        </div>

        <div class="personal-subjects">
            <h5>Створені Предмети</h5>
            <div>
                {{> reactiveTable settings=subjectsSettings}}
            </div>
        </div>
        {{/if}}
        {{#if isInRole 'student'}}
            <h5>Результати</h5>
            {{> reactiveTable settings=studentResultSettings}}
        {{/if}}
    </div>
</template>