.profile-card{
    padding: 25px 30px;
    position: relative;
}

.profile-card .edit-profile{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.profile-card .readonly{
    border: none !important;
    box-shadow: none !important;
}

.profile-card .save-profile{
    display: none;
}