<template name="profile">
    <div class="container">
        <h2>Мій профіль</h2>
        <div class="row personal-info">
            <form class="form-horizontal" role="form">
                <div class="form-group first-name">
                    <label class="col-md-2 control-label">Ім'я:</label>
                    <div class="col-md-6">
                            <input class="form-control" placeholder="Иван" value="{{profile.firstName}}" type="text" required pattern="[a-zA-Zа-яА-ЯґєіїҐЄІЇ`´ʼ]+">
                    </div>
                </div>
                <div class="form-group last-name">
                    <label class="col-md-2 control-label">Прізвище:</label>
                    <div class="col-md-6">
                            <!-- <p>{{profile.name}}</p> -->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"></label>
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-primary save">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>