<template name="profile">
    <div class="container">
        <h2>Мій профіль</h2>
        <div class="personal-info">
            <p>
                <strong>Ім'я:</strong>
                {{name}}
            </p>
            <p>
                <strong>Прізвище:</strong>
                {{surname}}
            </p>
            <p>
                <strong>По-батькові:</strong>
                {{patronymic}}
            </p>
            <p>
                <strong>Email:</strong>
                {{email}}
            </p>
        </div>

        <div class="personal-tests">
            <h3>Створені тести</h3>
            <div>
                {{> reactiveTable settings=testsSettings}}
            </div>
        </div>
    </div>
</template>