<template name="testCreate">
    <div class="container">
        <h2>Test Create</h2>
        <form class="test-create">
            <div class="form-group">
                <label for="test-name">Название теста</label>
                <textarea name="test-name" class="form-control test-name" required></textarea>
            </div>
            <h4>Выберите предмет</h4>
            <select class="subject">
                {{#each subjects}}
                <option>{{name}}</option>
                {{/each}}
            </select>
            <input type="button" class="btn btn-default add-questions" value="Добавить вопросы">
        </form>
    </div>
</template>