<template name="testCreate">
    <div class="container">
        <h2>Test Create</h2>
        <form>
            <div class="form-group">
                <label for="test-name">Название теста</label>
                <textarea name="test-name" class="form-control test-name" required></textarea>
            </div>
            <h4>Выберите предмет</h4>
            <select>
                {{#each subjects}}
                <option>{{name}}</option>
                {{/each}}
            </select>
            <button type="submit" class="btn btn-default">Добавить вопросы</button>
        </form>
    </div>
</template>